@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;1000&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.welcome-section {
  flex: 1;
  background: radial-gradient(
    circle at 17% 28%,
    rgba(158, 179, 196, 1) 17%,
    rgba(122, 139, 155, 1) 78%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section img {
  max-width: 80%;
  height: auto;
}

.login-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
}

.login-form {
  width: 50%;
}

.form-group {
  margin-bottom: 15px;
}
.loginValue {
  border-radius: 0.5rem;
  color: #000000;
}
.loginValue::placeholder {
  color: #cacaca;
}
.form-group a {
  color: #000000;
}
label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #45a049;
}

p {
  font-size: 0.9em;
  color: #333;
  margin-top: 10px;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Validasi POPUP */
.error-popup {
  position: fixed;
  top: -100px;
  right: -300px; 
  background-color: #ff6464;
  color: #fff; 
  padding: 15px; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: top 0.5s ease-in-out, right 0.5s ease-in-out; 
  z-index: 999; 
}

.progress-bar {
  height: 5px;
  width: 100%;
  background-color: #fff; 
  margin-bottom: 10px;
}
.success-popup {
  position: fixed;
  top: -100px; 
  right: -300px;
  background-color: #4caf50; 
  color: white;
  padding: 15px; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  transition: top 0.5s ease-in-out, right 0.5s ease-in-out; 
  z-index: 999; 
}
/* END validasi */

/* Responsive */
@media screen and (max-width: 600px) {
  .container {
    position: relative;
    display: flex;
    height: 100vh;
  }
  
  .welcome-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at 17% 28%,
      rgba(158, 179, 196, 1) 17%,
      rgba(122, 139, 155, 1) 78%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; 
  }
  
  .welcome-section img {
    max-width: 80%;
    height: auto;
  }
  
  .login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2; 
  }
  .login-form{
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    width: 80%;
    backdrop-filter: blur(10px);
  }
  .login-form p{
    text-align: center;
  }
  .login-form p a{
    color: blue;
  }
}